 <!-- start form for personal information -->
<form name="formHolder.personalform" id="formHolder.personalform">

<div class="x_title">
<small>Personal Information</small>
<div class="clearfix"></div>
</div>

<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
  <div class="form-group" ng-class="{'has-error': formHolder.personalform.lastname.$touched && formHolder.personalform.lastname.$invalid}">
	<label>Last Name:</label>
	<input type="text" placeholder="Lastname" class="form-control" name="lastname" ng-model="student_info.lastname" required>  
	<span class="help-block" ng-show="formHolder.personalform.lastname.$touched && formHolder.personalform.lastname.$invalid">Lastname is required</span>
  </div>
</div>

<div class="col-md-4 col-sm-12 col-xs-12 form-group">
  <label>First Name:</label>
  <input type="text" placeholder="Firstname" class="form-control" name="firstname" ng-model="student_info.firstname">
</div>

<div class="col-md-4 col-sm-12 col-xs-12 form-group">
  <label>Middle Name:</label>
  <input type="text" placeholder="Middlename" class="form-control" name="middlename" ng-model="student_info.middlename">
</div>

<div class="col-md-4 col-sm-12 col-xs-12">
	<label>Birth Date:</label>
	  <input type="date" class="form-control" name="birthdate" ng-model="student_info.birthday">
</div>

<div class="col-md-4 col-sm-12 col-xs-12 form-group">
  <label>Birth Place:</label>
  <input type="text" placeholder="Birth Place" class="form-control" name="birth_place" ng-model="student_info.birth_place">
</div>

<div class="col-md-4 col-sm-12 col-xs-12 form-group">
  <label>Nationality:</label>
  <input type="text" placeholder="Nationality" class="form-control" name="nationality" ng-model="student_info.nationality">
</div>

<div class="col-md-2 col-sm-12 col-xs-12 form-group">
  <label>Sex:</label>
	  <select class="form-control" name="sex" ng-model="student_info.sex">
		<option value="">-</option>
		<option>Male</option>
		<option>Female</option>
	  </select>
</div>

<div class="col-md-2 col-sm-12 col-xs-12 form-group">
  <label>Civil Status:</label>
	  <select class="form-control" name="civil_status" ng-model="student_info.civil_status">
		<option value="">-</option>
		<option value="1">Single</option>
		<option value="2">Married</option>
		<option value="3">Widowed</option>
		<option value="4">Divorced</option>
		<option value="5">Separated</option>
	  </select>
</div>

<div class="col-md-4 col-sm-12 col-xs-12 form-group">
  <label>Course:</label>
	  <select class="form-control" name="course" ng-model="student_info.couse">
		<option value="">To be Design</option>
		<option value="">TBD</option>
		<option value="">TBD</option>
	  </select>
</div>

<div class="col-md-2 col-sm-12 col-xs-12 form-group">
  <label>Year:</label>
	  <select class="form-control" name="year_level" ng-model="student_info.year_level">
		<option value="1">First Year</option>
		<option value="2">Second Year</option>
		<option value="3">Third Year</option>
		<option value="4">Fourth Year</option>
	  </select>
</div>

<div class="col-md-2 col-sm-12 col-xs-12 form-group">
  <label>Section:</label>
	  <select class="form-control" name="section" ng-model="student_info.section">
		<option value="">To be Design</option>
		<option value="">TBD</option>
		<option value="">TBD</option>
	  </select>
</div>

<div class="col-md-8 col-sm-12 col-xs-12 form-group">
  <label>Home Address:</label>
  <input type="text" placeholder="Home Address" class="form-control" name="home_address" ng-model="student_info.home_address">
</div>

<div class="col-md-4 col-sm-12 col-xs-12 form-group">
  <label>Contact No:</label>
  <input type="text" placeholder="Contact No" class="form-control" name="contact_no" ng-model="student_info.contact_no">
</div>

<div class="col-md-8 col-sm-12 col-xs-12 form-group">
  <label>BHouse Address:</label>
  <input type="text" placeholder="Boarding House Address" class="form-control" name="bh_address" ng-model="student_info.bh_address">
</div>

<div class="col-md-4 col-sm-12 col-xs-12 form-group">
  <label>BHouse Contact No:</label>
  <input type="text" placeholder="Boarding House Contact No" class="form-control" name="bh_contact_no" ng-model="student_info.bh_contact_no">
</div>

<div class="x_content">
<br>
<div class="x_title">
<small>Academic Information</small>
<div class="clearfix"></div>
</div>
</div>

<div class="col-md-5 col-sm-12 col-xs-12 form-group">
  <label>Elementary Name:</label>
  <input type="text" placeholder="Name" class="form-control" name="elem_name">
</div>

<div class="col-md-5 col-sm-12 col-xs-12 form-group">
  <label>Address:</label>
  <input type="text" placeholder="Address" class="form-control" name="elem_address">
</div>

<div class="col-md-2 col-sm-12 col-xs-12 form-group">
  <label>Year:</label>
  <input type="text" placeholder="Year" class="form-control" name="elem_year">
</div>

<div class="col-md-5 col-sm-12 col-xs-12 form-group">
  <label>Secondary Name:</label>
  <input type="text" placeholder="Name" class="form-control" name="secondary_name">
</div>

<div class="col-md-5 col-sm-12 col-xs-12 form-group">
  <label>Address:</label>
  <input type="text" placeholder="Address" class="form-control" name="secondary_address">
</div>

<div class="col-md-2 col-sm-12 col-xs-12 form-group">
  <label>Year:</label>
  <input type="text" placeholder="Year" class="form-control" name="secondary_year">
</div>

<div class="col-md-5 col-sm-12 col-xs-12 form-group">
  <label>Tertiary Name:</label>
  <input type="text" placeholder="Name" class="form-control" name="tertiary_name">
</div>

<div class="col-md-5 col-sm-12 col-xs-12 form-group">
  <label>Address:</label>
  <input type="text" placeholder="Address" class="form-control" name="tertiary_address">
</div>

<div class="col-md-2 col-sm-12 col-xs-12 form-group">
  <label>Year:</label>
  <input type="text" placeholder="Year" class="form-control" name="tertiary_year">
</div>

<div class="x_content">
<br>
<div class="x_title">
<small>Parental Information</small>
<div class="clearfix"></div>
</div>
</div>

<div class="col-md-4 col-sm-12 col-xs-12 form-group">
  <label>Father Name:</label>
  <input type="text" placeholder="Fathername" class="form-control" name="father_name">
</div>

<div class="col-md-4 col-sm-12 col-xs-12 form-group">
  <label>Address:</label>
  <input type="text" placeholder="Address" class="form-control" name="father_address">
</div>

<div class="col-md-4 col-sm-12 col-xs-12 form-group">
  <label>Contact No:</label>
  <input type="text" placeholder="Contact No" class="form-control" name="father_contact_no">
</div>

<div class="col-md-12 col-sm-12 col-xs-12 form-group">
  <label>Occupation:</label>
  <input type="text" placeholder="Occupation" class="form-control" name="father_occupation">
</div>

<div class="col-md-4 col-sm-4 col-xs-12 form-group">
  <label>Mother Name:</label>
  <input type="text" placeholder="Mothername" class="form-control" name="mother_name">
</div>

<div class="col-md-4 col-sm-4 col-xs-12 form-group">
  <label>Address:</label>
  <input type="text" placeholder="Address" class="form-control" name="mother_address">
</div>

<div class="col-md-4 col-sm-4 col-xs-12 form-group">
  <label>Contact No:</label>
  <input type="text" placeholder="Contact No" class="form-control" name="mother_contact_no">
</div>

<div class="col-md-12 col-sm-12 col-xs-12 form-group">
  <label>Occupation:</label>
  <input type="text" placeholder="Occupation" class="form-control" name="mother_occupation">
</div>

<div class="col-md-4 col-sm-4 col-xs-12 form-group">
  <label>Guardian Name:</label>
  <input type="text" placeholder="Guardianname" class="form-control" name="guardian_name">
</div>

<div class="col-md-4 col-sm-4 col-xs-12 form-group">
  <label>Address:</label>
  <input type="text" placeholder="Address" class="form-control" name="guardian_address">
</div>

<div class="col-md-4 col-sm-4 col-xs-12 form-group">
  <label>Contact No:</label>
  <input type="text" placeholder="Contact No" class="form-control" name="guardian_contact_no">
</div>

<div class="col-md-12 col-sm-12 col-xs-12 form-group">
  <label>Occupation:</label>
  <input type="text" placeholder="Occupation" class="form-control" name="guardian_occupation">
</div>

<div class="col-md-12 col-sm-12 col-xs-12 form-group">
  <label>Relationships:</label>
  <input type="text" placeholder="Relationships" class="form-control" name="relationships">
</div>

<div class="form-group">
	<div class="col-md-4 col-sm-12 col-xs-12 form-group">
	  <button class="btn btn-primary" type="button" ng-click="form.save(this)">Save</button>
	  <button class="btn btn-primary" type="button" ng-click="form.list(this)">Cancel</button>
	</div>
  </div>
</form>
<!-- end form for personal information -->